<%= semantic_form_for [:admin, @booking], builder: ActiveAdmin::FormBuilder do |f| %>

  <%= f.inputs "Booking Details" do  %>

    <li class="string input optional stringish">
      <p>Please Select a Customer or Create a new one </p>
      <button type="button" class="create-customer">Create Customer</button>
      <button type="button" class="select-customer">Select Customer</button>
    </li>

    <!-- Select Customer Information -->
    <li class="string input optional stringish customer_select" hidden="true">
      <label for="customer" class="label">Customer<abbr title="required">*</abbr></label>
      <%= text_field_tag :select_customer, '', class: 'ui-autocomplete-input' %>
      <%= hidden_field_tag  :select_customer_id %>

    <li class="string input optional stringish customer_select property_select" hidden="true">
      <label for="property" class="label">Property<abbr title="required">*</abbr></label>
      <div>
        <%= select_tag "customer_properties", "" %> or <a id="create_new_property" href="#">Create a New Property</a>
      </div>
    </li> 

    <!-- Create Customer Info -->
    <li class="has_many_container customer_create" hidden="true">
      <ol>       
        <h3>Create Customer</h3>
        
        <li class="string input optional stringish">
          <label for="customer_name" class="label">First Name<abbr title="required">*</abbr></label>
          <%= text_field_tag :customer_firstname, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">Last Name<abbr title="required">*</abbr></label>
          <%= text_field_tag :customer_lastname, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">Email<abbr title="required">*</abbr></label>
          <%= text_field_tag :customer_email, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">Phone<abbr title="required">*</abbr></label>
          <%= text_field_tag :customer_phone, '', class: 'ui-autocomplete-input' %>
        </li>
      </ol>
    </li>

    <!-- Create Property -->
    <li class="has_many_container customer_create property_create" hidden="true">
      <ol>       
        <h3>Create Property</h3>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">Address<abbr title="required">*</abbr></label>
          <%= text_field_tag :property_address, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">City<abbr title="required">*</abbr></label>
          <%= text_field_tag :property_city, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">State<abbr title="required">*</abbr></label>
          <%= text_field_tag :property_state, '', class: 'ui-autocomplete-input' %>
        </li>

        <li class="string input optional stringish">
          <label for="customer_name" class="label">Postal Code<abbr title="required">*</abbr></label>
          <%= text_field_tag :property_postal_code, '', class: 'ui-autocomplete-input' %>
        </li>
      </ol>
    </li>

    <li class="string input optional stringish booking_date">
      <label for="property" class="label">Booking Date<abbr title="required">*</abbr></label>
      <div  style="position: relative;"">
        <%= datetime_local_field_tag :booking_date  %>
      </div>
    </li> 

    <%= f.input :tip %>

    <%= f.input :payment_method, :as => :select, :collection => ['Credit Card'], include_blank: false %>
    
    <%= f.input :frecuency, :as => :select, :collection => ['One Time', 'Weekly - 15%', 'Bi-Weekly - 10%', 'Monthly - 5%'], include_blank: false %>

    <%= f.input :discount_from_code %>
    <%= f.input :discount_from_frecuency %>
    <%= f.input :discount_from_referral %>
    <%= f.input :giftcard_amount_used %>

    <%= f.input :staff_notes %>
    <%= f.input :customer_notes %>
    <%= f.input :flexibility %>
    <%= f.input :entrance_method %>
    <%= f.input :booking_assigned %>
    <%= f.input :completed %>
    <%= f.input :requested %>
    <%= f.input :cancelled %>
    <%= f.input :hidden %>

    <!-- Company -->
    <li class="string input optional stringish company_select">
      <label for="company" class="label">Select Company</label>
      <%= select_tag "select_company", options_from_collection_for_select(Company.all, "id", "name", :selected=>( @booking.company ? @booking.company.id : nil )), include_blank: true %>
    </li>


    <!-- Location -->
    <li class="string input optional stringish location">
      <label for="location" class="label">Select Location</label>
      <% if @booking.location %>
        <%= select_tag "location", options_from_collection_for_select(@booking.company.locations.all, "id", "name", :selected=>( @booking.location ? @booking.location.id : nil )), include_blank: true %>
      <% else %>
        <select name="location" id="location"></select>
      <% end %>
    </li>

    <!-- Base Service -->
    <li class="string input optional stringish services">
      <label for="base_service" class="base_service">Select Base Service</label>
      <% if @booking.company %>
        <%= select_tag "base_service", options_from_collection_for_select(@booking.company.services.where(service_type: 'base'), "id", "name", :selected=>(@booking.services.where(service_type: 'base').any? ? @booking.services.where(service_type: 'base').first.id : "" )), include_blank: true %>
      <% else %>
        <select name="base_service" id="base_service"></select>
      <% end %>
    </li>

    <!-- Service Params -->
    <li class="string input optional stringish services">
      <label for="service_parameter" class="service_parameter">Select Service Parameter</label>
      <% if @booking.company %>
        <%= select_tag "service_parameter", options_from_collection_for_select(@booking.company.services.where(service_type: 'parameter'), "id", "name", :selected=>(@booking.services.where(service_type: 'parameter').any? ? @booking.services.where(service_type: 'parameter').first.id : "" )), include_blank: true %>
      <% else %>
        <select name="service_parameter" id="service_parameter"></select>
      <% end %>
    </li>

    <!-- Extra Services -->
    <li class="check_boxes input optional" id="booking_services_input">
      <fieldset class="choices">
        <legend class="label">
          <label>Select Extra Services</label>
        </legend>
          <ol id='extra_services' class="">
        <% if @booking.company %>
          <% @booking.company.services.where(service_type: 'add_on').each do |value| %>
            <li class="choice">
              <label for="booking_service_ids_<%= value.id %>" >
                <input type="checkbox" name="booking[extra_services_ids][]" id="booking_service_ids_<%= value.id %>" value="<%= value.id %>" <%= @booking.services.where(service_type: 'add_on', id: value.id).any? ? "checked" : "" %>><%= value.name %>
              </label>
            </li>
          <% end %>
        <% end %>
          </ol>
      </fieldset>
    </li>

    <!-- Select Cleaners -->
    <li class="string input optional stringish">
      <label for="cleaners" class="label">Cleaners</label>
      <%= text_field_tag :search, @booking.cleaners.map { |u| "#{u.full_name} (#{u.id})" }.join(', '), class: 'ui-autocomplete-input' %>
    </li>
  <% end %>
  <%= f.actions %>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#booking_date').datetimepicker({
      format: 'YYYY-MM-DDTHH:mm',
      sideBySide: true,
      date: new Date(<%= @booking.booking_date ? "\"#{@booking.booking_date.strftime("%m/%d/%Y %H:%M")}\"".html_safe : "" %>)
    });
  });
</script>

<!-- Get Services -->
<script type="text/javascript">
  $( "#select_company" ).change(function() {
    $.ajax({
      url: '/admin/bookings/get_services',
      type: 'get',
      data: {
        company_id: $("#select_company option:selected").val()
      },
      success: function(response){
        if ($.trim(response)){
          $('#base_service').empty();
          $('#base_service').append('<option value="" label=""></option>')
          $.each(response['services'], function(key, value) {
            $('#base_service').append('<option value="'+ value.id +'">'+value.name+'</option>')
          });
        } 
      }
    })
  });
</script>

<!-- Get Service Param -->
<script type="text/javascript">
  $( "#base_service" ).change(function() {
    $.ajax({
      url: '/admin/bookings/get_service_params',
      type: 'get',
      data: {
        service_id: $("#base_service option:selected").val()
      },
      success: function(response){
        if ($.trim(response)){
          $('#service_parameter').empty();
          $.each(response['parameters'], function(key, value) {
            $('#service_parameter').append('<option value="'+ value.id +'">'+value.name+'</option>')
          });
        } 
      }
    });
  });
</script>


<!-- Get Extra Services -->
<script type="text/javascript">
  $( "#base_service" ).change(function() {
    $.ajax({
      url: '/admin/bookings/get_extra_services',
      type: 'get',
      data: {
        service_id: $("#base_service option:selected").val()
      },
      success: function(response){
        if ($.trim(response)){
          $('#extra_services').empty();
          $.each(response['extras'], function(key, value) {
            $('#extra_services').append('<li class="choice"><label for="booking_service_ids_' + value.id + '" ><input type="checkbox" name="booking[extra_services_ids][]" id="booking_service_ids_' + value.id + '" value="' + value.id + '">' +value.name+ '</label></li>')
          });
        } 
      }
    })
  });
</script>


<!-- Get Location -->
<script type="text/javascript">
  <% if @booking.company %>
    
  <% else %>
    
  <% end %>
  $( "#select_company" ).change(function() {
    $.ajax({
      url: '/admin/bookings/get_locations',
      type: 'get',
      data: {
        company_id: $("#select_company option:selected").val()
      },
      success: function(response){
        if ($.trim(response)){
          $('#location').empty();
          $.each( response['locations'], function(key, value) {
            $('#location').append('<option value="'+ value.id +'">'+value.name+'</option>')
          });
        } 
      }
    })
  });
</script>

<!-- Get Cleaner -->
<script>
  $(function() {

    var items = function () {
      var tmp = null;
      $.ajax({
        async: false,
        url: '/admin/bookings/get_cleaners',
        type: 'get',
        success: function (data) {
          tmp = data;
        }
      });
      return tmp;
    }();

    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#search" )
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          response( $.ui.autocomplete.filter(
            items, extractLast( request.term ) ) );
        },
        focus: function() {
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
  </script>

<!-- Create New Property  -->
<script type="text/javascript">
  $('#create_new_property').click(function() {
    $('.property_select').hide();
    $('.property_select select').empty();
    $('.property_create').show();
    // $('.customer_select input').val('');
    // $('.customer_select select').empty();
  });
</script>


<!-- Get Customers -->
<script>

  $('.create-customer').click(function() {
    $('.customer_create').show();
    $('.customer_select').hide();
    $('.customer_select input').val('');
    $('.customer_select select').empty();
  });

  $('.select-customer').click(function() {
    $('.customer_select').show();
    $('.customer_create').hide();
    $('.customer_create input').val('');
  });

  <% if @booking.property %>

    $('.customer_select').show();
    $('.customer_create').hide();
    $('.customer_create input').val('');
    $('#select_customer').val("<%= @booking.property.customer.full_name if @booking.property.customer %>");
    $('#select_customer_id').val("<%= @booking.property.customer.id if @booking.property.customer %>");

    $.ajax({
      url: '/admin/bookings/get_properties',
      type: 'get',
      data: {
        id: <%= @booking.property.customer ? @booking.property.customer.id : "''".html_safe %>,
      },
      success: function(response){
        $.map( response, function( val, i ) {
          var s = "";
          if (val.id == <%= @booking.property.id %> ) 
          {
            s = "selected";
          }
          $( "#customer_properties" ).append(
            "<option value='" + val.id + "' " + s + " >" + property_name(val.address, val.city , val.state, val.postal_code) + "</option>" ); 
        });
      }
    });


    
  <% end %>

  $( function() {
    $.ajax({
      url: '/admin/bookings/get_customers',
      type: 'get',
      success: function(data){

        $( "#select_customer" ).autocomplete({
          minLength: 2,
          source: function(request, response) {
           response($.map(data, function (value, key) {
              $('#customer-properties').empty();
              return {
                label: value.name,
                value: value.name,
                id: value.id
              }
            }));
          },
          select: function(event, ui) { 
            // event.preventDefault() 
            $('#select_customer').val(ui.item.value);
            $('#select_customer_id').val(ui.item.id);
            $('#customer-properties').empty();

            $.ajax({
              url: '/admin/bookings/get_properties',
              type: 'get',
              data: {
                id: ui.item.id,
              },
              success: function(response){
                $.map( response, function( val, i ) {
                  $( "#customer_properties" ).append(
                    "<option value='" + val.id + "'>" + property_name(val.address, val.city , val.state, val.postal_code) + "</option>" ); 
                });
              }
            })
          }
        });
      }
    })
  });

  function property_name(address, city, state, postal_code ) {
    var final_name = address + ", " +  city + ", " + state + ", " + postal_code;
    return final_name
  }  
</script>
