<form id="new_q" class="filter_panel">
  <div class="filter_contents-100">
    <div class="filter_contents-100">
      <h3 class="filter-panel_title">Filters</h3>
    </div>
    <div class="filter_contents-20">
      <input id="claimed" type="radio" name="q[claimed]" value="true"> Claimed &nbsp;&nbsp;&nbsp;
      <input id="unclaimed" type="radio" name="q[claimed]" value="false"> Unclaimed
    </div>
    <div class="filter_contents-20">
      <label for="company">Company </label>
      <%= select("q","company", Company.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
    </div>
    <div class="filter_contents-100">
      <button id="filter" type="submit">Filter</button>
      <button id="clear_filters_btn" type="button">Clear Filters</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="modal_assign" tabindex="-1" role="dialog" aria-labelledby="AssignLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AssignLabel">Assign Booking</h4>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <%= select_tag "assign[cleaners]", options_from_collection_for_select(Cleaner.all, :id, :full_name), multiple:true, class:"selectpicker form-control", "data-live-search":true, "data-actions-box":"true", title:"Choose your cleaners" %>
            </div>
          </div>
        </div>
        <input type="hidden" name="booking_assigned" id="booking_assigned" value="booking_assigned" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="assign_booking">Assign Booking</button>
      </div>
      <script>
        $(document).ready(function() {
          $("#assign_booking").click(function(event) {
            data = {cleaners: $("#assign_cleaners").val(), booking: $("#booking_assigned").val() };
            $.post( "<%= assign_booking_admin_bookings_path %>", { data: data }, function( data ) {
              if (data.status === "success") {
                alert("Booking was successfully asigned");
                $("#row_"+$("#booking_assigned").val()).removeClass("left_to_claim").addClass("claimed");
                $(".asign_"+$("#booking_assigned").val()).remove();
                $("#claimed_by_"+$("#booking_assigned").val()).html("Claimed by "+data.cleaners);
                $("#modal_assign").modal('hide');
              } else {
                alert(data.message);
              }
            }, "json");
          });
        });
      </script>
    </div>
  </div>
</div>

<div class="content">
  <div id="calendar" class="fc fc-unthemed fc-ltr">
    <div class="fc-toolbar fc-header-toolbar">
      <div class="fc-left">
        <div class="fc-button-group">
          <button id="get_yesterday" type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
            <span class="fc-icon fc-icon-left-single-arrow"></span>
          </button>
          <button  id="get_tomorrow" type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
            <span class="fc-icon fc-icon-right-single-arrow"></span>
          </button>
        </div>
        <button id="get_today" type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right">today</button>

      </div>
      <div class="fc-center">
        <h2 id="date_title"><%= @bookings.first.booking_date.strftime("%B %d, %Y") if @bookings.first %></h2>
        <br>
        <button id="get_bookings_l27" type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right" style="float: none; margin-left: 0em;">Get Bookings</button>
      </div>
      <div class="fc-clear"></div>
    </div>
    <div class="fc-view-container" style="">
      <div class="fc-view fc-agendaDay-view fc-agenda-view" style="">
        <table class="legend_table">
          <tr>
            <td colspan="4">
              <p><strong>Legend: </strong>
                <span class="legend_square claimed">Claimed</span>
                <span class="legend_square requested">Requested</span>
                <span class="legend_square left_to_claim">Left to claim</span>
                <span class="legend_square status-hidden">hidden</span>
              </p>
            </td>
          </tr>
        </table>
        <table class="">
          <thead class="fc-head">
            <tr>
              <td class="fc-head-container fc-widget-header">
                <div class="fc-row fc-widget-header">
                  <table class="fc-table-fix">
                    <thead>
                      <tr>
                        <th class="fc-day-header fc-widget-header fc-sun fc-past" data-date="2017-10-01">
                          <% 
                            companies = []
                            total = 0
                            claimed = 0
                            if @bookings.any?
                              total ||= @bookings.count
                              claimed ||= @bookings.map{|b| b.booking_assigned? ? b.booking_assigned : nil }.count(true)
                              unclaimed = total - claimed
                            end
                            companies = Company.all
                           %>
                          <span id="day_title"><%= @bookings.first ? @bookings.first.booking_date.strftime("%A") : Date.today.strftime("%A") %></span> (<span id="booking_count"><%= total %></span>) &nbsp;
                          <span id="claimed_title">Claimed Bookings </span> (<span id="claimed_count"><%= claimed %></span>) &nbsp;
                          <span id="unclaimed_title">Unclaimed Bookings </span> (<span id="unclaimed_count"><%= unclaimed ? unclaimed : 0 %></span>)
                        </th>
                      </tr>
                      <tr>
                        <th id="brief" style="background-color: #CFCFCF;">
                          <% if companies.any? %>
                            <% companies.each do |c| %>
                              <div class="company-stats" style="width: <%= (100 / companies.count) - 1 %>%;" >
                                <div class="title">
                                  <%= c.name %>
                                </div>
                                <div class="stats">
                                  <div class="item">&nbsp;</div>
                                  <div class="item">
                                    <p class="item-number">
                                      <span class='claimed_<%= c.id %>'><%= c.bookings.claimed.where("DATE(booking_date) = ?", Date.today).length %></span>
                                    </p>
                                    <p class="item-name">Claimed</p>
                                  </div>
                                  <div class="item">
                                    <p class="item-number">
                                      <span class='total_<%= c.id %>'><%= c.bookings.where("DATE(booking_date) = ?", Date.today).length %></span>
                                    </p>
                                    <p class="item-name">Total</p>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </td>
            </tr>
          </thead>
          <tbody class="fc-body">
            <tr>
              <td class="fc-widget-content">
                <div class="fc-scroller fc-time-grid-container" style="overflow-x: hidden; overflow-y: scroll; height: 619px;">
                    <div class="fc-slats">
                      <table class="">
                        <tbody id="results">
                          <%
                            c = nil 
                          %>
                          <% @bookings.each do |b| %>
                           <% if c != b.company %>
                           <% c = b.company %>
                              <tr>
                                <td colspan=\"2\"><h3><%= c.name %>: Claimed: <span class='claimed_<%= c.id %>'><%= c.bookings.claimed.where("DATE(booking_date) = ?", Date.today).length %></span>, Total: <span class='total_<%= c.id %>'><%= c.bookings.where("DATE(booking_date) = ?", Date.today).length %></span></h3></td>
                              </tr>
                           <% end %>
                          <%
                            my_class = b.booking_assigned? ? "claimed" : "left_to_claim"
                            my_class = (my_class == "left_to_claim" && b.requested?) ? "requested" : my_class
                            my_class = (my_class == "left_to_claim" && b.hidden?) ? "status-hidden" : my_class
                          %>
                          <tr id="row_<%= b.id %>" class="fc-minor tr <%= my_class %>">
                            <td class="fc-axis fc-time fc-widget-content" style="width: 10%;">
                              <p>Date: <%= b.booking_date.to_date %> </p>
                              <p>Time: <%= b.booking_date.strftime("%I:%M %p") %></p>
                              <p>Price: $<%= b.final_amount %></p>
                              <% if b.booking_assigned? %>
                                <p id='claimed_by_<%= b.id %>'><%= b.booking_assigned? ? "Claimed by #{b.cleaners.reject(&:blank?).map { |c| "#{c.full_name}(#{c.id})" }.join(', ')}" : "Left to Claim" %></p>
                              <% else %>
                                <p id='claimed_by_<%= b.id %>'>Left to Claim</p>
                              <% end %>
                              <% if b.requested?  %>
                                <p id='claimed_by_<%= b.id %>'> <%= "Cleaner(s) requested: #{b.cleaners.reject(&:blank?).map { |c| "#{c.full_name}(#{c.id})" }.join(', ')}"%></p>
                              <% end %>
                              <p>
                                <%= 
                                  company = b.company.name
                                  case company
                                  when "Companion Maids"
                                    "<a target='_blank' href='https://companionmaids.launch27.com/admin/bookings/#{b.launch_27_id}/edit' > View on launch_27</a>".html_safe
                                  when "Cleaning Exec"
                                    "<a target='_blank' href='https://cleaningexec.launch27.com/admin/bookings/#{b.launch_27_id}/edit' > View on launch_27</a>".html_safe
                                  when "Planet Maids"
                                    "<a target='_blank' href='https://planetmaids.launch27.com/admin/bookings/#{b.launch_27_id}/edit' > View on launch_27</a>".html_safe
                                  when 'Maid Sailors'
                                    "<a target='_blank' href='https://maidsailors.launch27.com/admin/bookings/#{b.launch_27_id}/edit' > View on launch_27 </a>".html_safe
                                  else
                                    'No link provided'
                                  end
                                %>
                              </p>
                              <p>
                              <% unless b.booking_assigned %>
                                <%= link_to "View", admin_booking_path(b), class: "btn btn-link" %>
                                <button id="assign_<%= b.id %>" data-id="<%= b.id %>" type="button" class="btn btn-primary asign_<%= b.id %>" data-toggle="modal" data-target="#modal_assign" data-backdrop="static"  data-keyboard="false">Assign</button>
                                <script>
                                  $("#assign_<%= b.id %>").on('click', function() {
                                    $("#booking_assigned").val("<%= b.id %>");
                                    $("#assign_cleaners").selectpicker('deselectAll');
                                  });
                                </script>
                              <% end %>
                              <% unless b.hidden %>
                                <button id="hide_<%= b.id %>" data-id="<%= b.id %>" type="button" class="hide_booking btn btn-danger hide_<%= b.id %>">Hide Booking</button>
                              <% end %>
                              </p> 
                            </td>
                            <td class="fc-widget-content" style="padding: 5px">
                              <div style="width: 40%; display: inline-block; vertical-align: top ">
                                <p class="no_margin">Booking Data:</p>
                                <p class="no_margin">Customer: <%= "#{b.property.customer.full_name}. Address: #{b.property.address}" if b.property && b.property.customer %></p> 
                                <p class="no_margin">
                                  Services:
                                  <br>
                                  Base Service: <%= b.services.any? ? b.services.where(ancestry: nil).first.name : "" %>
                                  <br>
                                  Service Parameter: 
                                  <br>
                                </p>
                              </div>
                              <div style="width: 50%; display: inline-block; vertical-align: top ">
                                <p class="no_margin">
                                  Extras:
                                  <ul class="no_margin">
                                  <% b.services.where.not(ancestry: nil).each do |s| %>
                                    <li><%= s.name %></li>
                                  <% end if b.services.where.not(ancestry: nil).any? %>
                                    <% if b.services.where.not(ancestry: nil).blank? %>
                                      <li>No extra services</li>
                                    <% end %>
                                  </ul>
                                </p>
                              </div>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  var today = new Date();
  var full_date;
  var calendar = {
    yesterday: new Date(today.getTime() - (24 * 60 * 60 * 1000)),
    tomorrow: new Date(today.getTime() + (24 * 60 * 60 * 1000)),
    company_total: 0,
    company_claimed: 0,
    months: {
          0: "January",
          1: "February",
          2: "March",
          3: "April",
          4: "May",
          5: "June",
          6: "July",
          7: "August",
          8: "September",
          9: "October",
          10: "November",
          11: "December"
        },
    dayOfWeek: {
      0: "Sunday",
      1: "Monday",
      2: "Tuesday",
      3: "Wednesday",
      4: "Thursday",
      5: "Friday",
      6: "Saturday"
    },
    get_yesterday: function() {
      calendar.tomorrow = today;
      today = calendar.yesterday;
      calendar.yesterday = new Date(today.getTime() - (24 * 60 * 60 * 1000));
      this.get(today);
      title = today;
      $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
      $("#day_title").html(calendar.dayOfWeek[title.getDay()]);

    },
    get_today: function () {
      today = new Date();
      calendar.tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
      calendar.yesterday = new Date(today.getTime() - (24 * 60 * 60 * 1000));
      this.get(today);
      title = today;
      $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
      $("#day_title").html(calendar.dayOfWeek[title.getDay()]);

    },
    get_tomorrow: function() {
      calendar.yesterday = today;
      today = calendar.tomorrow;
      calendar.tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
      this.get(today);
      title = today;
      $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
      $("#day_title").html(calendar.dayOfWeek[title.getDay()]);
    },
    get: function(date, filter = undefined) {

      var y = date.getFullYear();
      var m = "";
      var d = "";
      if ((date.getMonth() + 1) < 10)
        m = "0";
      if (date.getDate() < 9)
        d = "0";

      m += (date.getMonth() + 1);
      d += date.getDate();
      full_date = y + "-" + m + "-" + d;
      params = {
        date: full_date,
        filters: JSON.stringify(Object.assign({}, filter))
      }
      $.get('<%= booking_calendar_admin_bookings_path %>', params , function(data) {
        $("#brief").html(function() {
          str = "";
          $.each(data[0].companies, function(index, c) {
             /* iterate through array or object */
            str += "<div class=\"company-stats\" style=\"width: <%= (100 / companies.count) - 1 %>%;\" > \
              <div class=\"title\">"+c.name+"</div> \
              <div class=\"stats\"> \
                <div class=\"item\">&nbsp;</div> \
                <div class=\"item\"> \
                  <p class=\"item-number\"> \
                    <span class='claimed_"+c.id+"'>0</span> \
                  </p> \
                  <p class=\"item-name\">Claimed</p> \
                </div> \
                <div class=\"item\"> \
                  <p class=\"item-number\"> \
                    <span class='total_"+c.id+"'>0</span> \
                  </p> \
                  <p class=\"item-name\">Total</p> \
                </div> \
              </div> \
            </div>";

            // str += "<h2>"+c.name+": Claimed: <span class='claimed_"+c.id+"'>0</span>, Total: <span class='total_"+c.id+"'>0</span></h2>"
          });
          return str;
        });
        $("#booking_count").html(data[0].bookings.length);
        $("#claimed_count").html(data[0].claimed);
        $("#unclaimed_count").html(data[0].bookings.length - data[0].claimed);
        if (data[0].bookings.length > 0) {
          $("#results").html(calendar.show_data(data[0].bookings));
        } else {
          $("#results").html("")
        }
      },"json");
    },
    show_data: function(data) {
      string = "";
      company = {};
      var company_claimed = 0;
      var company_total = 0;
      $.each(data, function(index, b) {
        claimed = "left_to_claim";
        claimed_text = "Left to Claim";
        if (b.booking_assigned){
          claimed = "claimed";
          claimed_text = "Claimed by " + get_cleaners(b.cleaners);
        }
        if (b.requested){
          claimed = "requested";
          claimed_text = "Cleaner(s) requested: " + get_cleaners(b.cleaners);
        }
        if (b.hidden){
          claimed = "status-hidden";
        }
        if (company.id !== b.company.id) {
          company = b.company;

          
          string += "<tr>\
                      <td colspan=\"2\"><h3>"+company.name+": Claimed: <span class='claimed_"+company.id+"'></span>, Total: <span class='total_"+company.id+"'></span></h3></td>\
                     </tr>";

          $.get('<%= a_booking_calendar_admin_bookings_path %>', { id: company.id, date: full_date }, function(data) {
            $(".claimed_"+b.company.id).html(data.claimed > 0 ? data.claimed : "0");
            $(".total_"+b.company.id).html(data.total > 0 ? data.total : "0");
          },"json");
        }

        var date = new Date(b.booking_date);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var minutes = b.booking_date.split(":")[1]
        var hours = b.booking_date.split("T")[1].split(":")[0]
        var link

        var id = b.id
        switch(b.company.name) {
          case 'Companion Maids':
            link = "<a target='_blank' href='https://companionmaids.launch27.com/admin/bookings/" + b.launch_27_id +"/edit' > View on launch_27</a>"
            break;
          case 'Cleaning Exec':
            link = "<a target='_blank' href='https://cleaningexec.launch27.com/admin/bookings/" + b.launch_27_id +"/edit' > View on launch_27</a>"
            break;
          case 'Planet Maids':
            link = "<a target='_blank' href='https://planetmaids.launch27.com/admin/bookings/" + b.launch_27_id +"/edit' > View on launch_27</a>"
            break;
          case 'Maid Sailors':
            link = "<a target='_blank' href='https://maidsailors.launch27.com/admin/bookings/" + b.launch_27_id +"/edit' > View on launch_27 </a>"
            break;
          default:
            link = 'No Link provided'
        }

        string += "<tr id='row_"+ b.id +"' class='fc-minor "+claimed+"'> \
                  <td class='fc-axis fc-time fc-widget-content' style='width: 10%;'> \
                    <p> Date: " + year +'-'+ month +'-'+ day + " </p> \
                    <p> Time: " + convertTime(hours+':'+minutes+':00') + " </p> \
                    <p>Price: $" + b.final_amount +"</p> \
                    <p id='claimed_by_"+b.id+"'>"+ claimed_text +"</p> \
                    <p>" + link + " </p><p>";
        if (!b.booking_assigned) {
          string += "<a href='/admin/bookings/"+ b.id + "' class='btn btn-link'>View</a>\
                      <button id='assign_"+ b.id +"' data-id='"+ b.id +"' type='button' class='btn btn-primary asign_"+b.id+"' data-toggle='modal' data-target='#modal_assign' data-backdrop='static'  data-keyboard='false'>Assign</button>\
                      <script>\
                        var script = document.createElement('script');\
                        script.innerHTML = \"$('#assign_"+ b.id +"').on('click', function() { \
                                              $('#booking_assigned').val('"+ b.id +"'); \
                                              $('#assign_cleaners').selectpicker('deselectAll'); \
                                              $('#row_"+ b.id +"').addClass('claimed');\
                                            });\";\
                        $('body').append(script);\<\/script>";
        }
        if (!b.hidden) {
          string += "<button id='hide_"+ b.id +"' data-id='"+ b.id +"' type='button' class='hide_booking btn btn-danger hide_"+ b.id +"'>Hide Booking</button></p><script>\
                          var script = document.createElement('script');\
                          script.innerHTML = \"$('.hide_"+ b.id +"').click(function(event) {\
                                                  if (confirm('Are you sure to hide this booking?')) {\
                                                    $.post('<%= hide_booking_admin_bookings_path %>', {id: "+b.id+"}, function(data) {\
                                                      $('#row_'+"+b.id+").addClass('status-hidden');\
                                                    });\
                                                  }\
                                                });\";\
                          $('body').append(script);\<\/script></td>"
        }
        
        string += "<td class='fc-widget-content' style='padding: 5px'> \
                      <div style='width: 40%; display: inline-block; vertical-align: top '> \
                        <p class='no_margin'>Booking Data:</p> \
                        <p class='no_margin'>Customer: ";
        
        if (b.property.customer) {
          string += b.property.customer.first_name +" "+ b.property.customer.last_name +". Address: "+ b.property.address;
        }
        string += "</p><p class='no_margin'> \
                        Services: \
                        <br> \
                        Base Service: ";
                        $.each(b.services, function(i, s) {
                          if (!s.ancestry) {
                            string += s.name; 
                          }
                        });
        string +=        "<br> \
                        Service Parameter:  \
                        <br> \
                      </p> \
                    </div> \
                    <div style='width: 50%; display: inline-block; vertical-align: top '> \
                      <p class='no_margin'> \
                        Extras: \
                        <ul class='no_margin'>";
                        if (b.services.length > 0) {
                          count = 0;
                          $.each(b.services, function(i, s) {
                            if (s.ancestry) {
                              count++;
                              string += "<li>"+ s.name +"</li>";
                            }
                          });
                          if (!count) {
                            string += "<li>No extra services</li>";
                          }
                        } else {
                          string += "<li>No extra services</li>";
                        }
        string +=       "</ul> \
                      </p> \
                    </div> \
                  </td> \
                </tr>";
      });
      return string;
    }
  }

  function get_cleaners(cleaners) {
    var response = "";
    $.each(cleaners, function(index, val) {
       response += val.full_name + "(" + val.id + "), "
    });
    return response.slice(0,-2);
  }

  function convertTime (isoTime) {
    var hours   = parseInt(isoTime.substring(0, 2), 10),
        minutes = isoTime.substring(3, 5),
        ampm    = 'am';

    if (hours == 12) {
      ampm = 'pm';
    } else if (hours == 0) {
      hours = 12;
    } else if (hours > 12) {
      hours -= 12;
      ampm = 'pm';
    }

    return hours + ':' + minutes + ' ' + ampm;
  }

  $(document).ready(function() {

    $(".hide_booking").click(function(event) {
      if (confirm("Are you sure to hide this booking?")) {
        var id = $(this).attr("data-id");
        $.post('<%= hide_booking_admin_bookings_path %>', {id: id}, function(data) {
          $("#row_"+id).addClass( "status-hidden" );

        });
      }
    });
    $("#get_yesterday").click(function(event) {
      calendar.get_yesterday();
    });
    $("#get_today").click(function(event) {
      calendar.get_today();
    });
    $("#get_tomorrow").click(function(event) {
      calendar.get_tomorrow();
    });


    title = today;
    $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
    
    $("#new_q").submit(function(event) {
      event.preventDefault();
      a = today;
      var filters = [];
      if ( !($('input[name="q[claimed]"]:checked').val() == undefined ) ) {
        filters["claimed"] = $('input[name="q[claimed]"]:checked').val();
      }
      if ( $("#q_company").val() != "" ) {
        filters["company"] = $("#q_company").val();
      }
      calendar.get(a,filters);
      title = today;
      $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
      $("#day_title").html(calendar.dayOfWeek[title.getDay()]);
      return false;
    });
    
    $("#clear_filters_btn").click(function(e) {
      $('#claimed').prop('checked', false);
      $('#unclaimed').prop('checked', false);
      $("#q_company").val("");
      a = today;
      calendar.get(a);
      title = today;
      $("#date_title").html(calendar.months[title.getMonth()] + " " + title.getDate() + ", " + title.getFullYear());
      $("#day_title").html(calendar.dayOfWeek[title.getDay()]);
    });


    $("#get_bookings_l27").click(function(e) {
      a = today;
      calendar.get(a);
      title = today;
      var year = title.getFullYear()
      var month = title.getMonth() + 1
      if (month.toString().length == 1) {
        month = "0" + month;
      }
      var day = title.getDate()
      if (day.toString().length == 1) {
        day = "0" + day;
      }
      var date = year+'-'+month+'-'+day

      $.ajax({
        url: '/admin/bookings/get_from_api',
        type: 'get',
        data: {
          date: date,
        },
        success: function(response){
          location.reload();
        }
      })
    });
  });
</script>
