#active_admin_content.without_sidebar
  #main_content_wrapper
    #main_content
      = semantic_form_for 'Generate Random Bookings', url: random_bookings_process_admin_bookings_path  do |f|
        = f.inputs :name => 'Generate Random Bookings' do
          %p{style: 'margin: 20px 10px'} You can generate any number of bookings in a date range, just add the number of bookings that you want to generate. The Bookings will be generated to only one customer but random companies
          = f.input :number_of_bookings
          = f.input :start_date
          = f.input :end_date
        = f.actions
:javascript
  $(function () {
    $('#Generate_Random_Bookings_start_date').datetimepicker({
      format:'YYYY-MM-DD',
      minDate:  moment(new Date()).add(1,'days'),
      defaultDate: moment(new Date()).add(1,'days')
    });
    $('#Generate_Random_Bookings_end_date').datetimepicker({
      useCurrent: false,
      format:'YYYY-MM-DD',
      minDate:  moment(new Date()).add(1,'days'),
      defaultDate: moment(new Date()).add(1,'days')
    });
    $("#Generate_Random_Bookings_start_date").on("dp.change", function (e) {
      $('#Generate_Random_Bookings_end_date').data("DateTimePicker").minDate(e.date);
    });
    $("#Generate_Random_Bookings_end_date").on("dp.change", function (e) {
      $('#Generate_Random_Bookings_start_date').data("DateTimePicker").maxDate(e.date);
    });
  });


