<!-- Body -->
<section class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "Edit profile", "#", id: "register-form-link", class: 'active' %>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <%= simple_form_for @cleaner, :url => cleaner_path(current_user), method: "patch", :html => { id: "register-form", style: "display:'block';", role: "form", class: nil } do |f| %>
                  <% unless flash[:error].blank? %>
                  <div class="alert alert-danger %>  " role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <ul>
                    <% if flash[:error] %>
                        <% flash[:error].each do |item, m| %>
                          <li>
                            <%= item.to_s.humanize %> <%= m %>
                          </li>
                        <% end %>
                    <% end %>
                    </ul>
                  </div>
                  <% end %>
                  <% unless flash[:notice].blank? %>
                  <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <ul>
                      <li>
                        <%= flash[:notice] %>
                      </li>
                    </ul>
                  </div>
                  <% end %>
                  <div class="form-inputs">
                    <%= f.input :first_name, required: true, autofocus: true, tabindex: "1", class: "form-control", placeholder: "First name" %>
                    <%= f.input :last_name, required: true, autofocus: true, tabindex: "2", class: "form-control", placeholder: "Last name" %>
                    <%= f.input :email, required: true, autofocus: true, tabindex: "3", class: "form-control", placeholder: "Email Address" %>
                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), tabindex: "2", class: "form-control", placeholder: "Password" %>
                    <%= f.input :password_confirmation, label: false, required: true, tabindex: "4", class: "form-control", placeholder: "Confirm Password" %>

                    <%= f.input :phone_number, required: true, tabindex: "5", class: "form-control", placeholder: "Phone number" %>
                    <%= f.input :address, required: true, tabindex: "6", class: "form-control", placeholder: "Address" %>
                    <%= f.input :postal_code, required: true, tabindex: "7", class: "form-control", placeholder: "Postal code" %>
                    <%= f.input :state, required: true, tabindex: "8", class: "form-control", placeholder: "State" %>
                    <%= f.input :city,  required: true, tabindex: "9", class: "form-control", placeholder: "City" %>

                    <%= f.select :timezone, Cleaner.timezones.keys, {include_blank: 'Select a Timezone'}, label: false, required: true, tabindex: "10", class: "form-control" %>
                    <br>
                    <%= f.input :role, :input_html => { :value => :cleaner }, as: :hidden %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-9">
                        <%= f.submit "Save profile", tabindex: "4", class: "btn-save-cleaner btn btn-success" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>