<% @bookings.each do |booking| %>
  <div class="booking-holder">
    <div class="pa-ver-20 pa-hor-10 box-content">

      <div class="absolute-768 t-center booking-locations" style="margin-top: -10px">
        <p class="in-line bg-servus-blue bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= booking.company.name %></p>
        <p class="in-line bg-servus-orange bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= booking.location.name %></p>
      </div>

      <div class="row flex-768">
        <div class="col-sm-4">
          <div class="hor-align-center-768 pa-10 bo-ra-5 t-center width-50 bg-servus-green fo-servus-white vertical-align-center-768 relative-768 center ma-ver-10 f-size-150">
            <p><%= booking.booking_date.to_date %></p>
            <p><%= booking.booking_date.localtime.strftime("%I:%M %p") %></p>  
          </div>
        </div>

        <div class="col-sm-8">
          <div class="booking-address-holder">
            
            <div class="booking-address ">
              <p>Customer Name: <%= booking.property.customer.full_name %></p>
              <p>Address: <%= booking.property.full_address %></p>
              <p>Area: <%= show_area(booking.property.postal_code) %></p>
              <% if booking.customer_notes %>
                <p>Customer Notes: <%= booking.customer_notes %> </p>
              <% end %>
            </div>

            <div class="row flex-768 block">
              <div class="col-sm-7">
                <p><strong>Services</strong></p>
                <p>Base Service: <%= base_service(booking.services).name %></p>
                <p><%= params_service(booking.services) %></p>
                <ul>
                  <% extra_services(booking.services).each do |service|%>
                    <li><%= service.name %></li>
                  <% end %>
                </ul>  
              </div>
              <div class="col-sm-5 text-center">
                <p class="booking-price f-size-150 vertical-align-center-768 hor-align-center-768 absolute-768"> Your Earnings : $<%= show_earnings_percetage(@cleaner, booking.final_amount) %></p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="ma-ver-10 booking-btn-holder">
        <% if booking.can_cancel_booking? %>
          <div class="booking-btn-holder">
            <%= link_to "Cancel Booking", cancel_booking_cleaners_booking_path(booking), class: 'btn btn-danger btn-lg', :method=> :post %>
          </div>
        <% else %>    
          <div class="booking-btn-holder">    
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModalCancellation">Cancel Booking</button>    
          </div>    
          <%= render 'cleaners/shared/cancelation_modal', booking: booking %>   
        <% end %>
      </div>
    </div>
  </div>
<% end %>