 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Booking</h4>
      </div>
      <div class="modal-body">
        <p>You can't cancel a booking <%= Config.fetch('cancelation_penalty_time') %> hours before it starts. If you decide to cancel you will receive a penalty of 
        $<%= Config.fetch('cancelation_penalty_amount') %>.</p>

        <div class="cancel-booking-information ma-ver-10 ma-hor-10 bo-grey">
          <div class="pa-hor-10 pa-ver-10">
            <h6 class="text-center">Booking Information</h6>
            <p>Address: <%= booking.property.full_address %></p>

            <div class="ma-ver-10">
              <p><strong>Services</strong></p>
              <p>Base Service: <%= base_service(booking.services).name %></p>
              <p><%= params_service(booking.services) unless params_service(booking.services).blank? %></p>
              <ul>
                <% extra_services(booking.services).each do |service|%>
                  <li><%= service.name %></li>
                <% end %>
              </ul>  
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel With Penalty", cancel_booking_cleaners_booking_path(booking), class: 'btn btn-danger btn-lg', :method=> :post %>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
