<section class="app-content">
  <div class="container">
    <!-- Cleaner Information -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey">
        <p>Your Information</p>
      </div>
      <div class="cleaner-info box-content">
        <p><%= current_user.full_name %></p>
        <p><%= current_user.email %></p>
        <p>Phone: <%= @cleaner.phone_number %></p>
        <p>Address: <%= full_address(@cleaner.address, @cleaner.city, @cleaner.state, @cleaner.postal_code) %></p>
        <p>Max Bookings Allowed per day: <%= @cleaner.max_bookings %></p>
        <p>Rating: <%= @cleaner.rating %></p>
      </div>
    </div>

    <!-- Requested Booking Information -->
    <% unless @cleaner.actable.get_requested_bookings.empty? %>
      <div class="cleaner-wrapper box-wrapper">
        <div class="cleaner-header bo-grey pa-ver-20">
          <div class="row">
            <div class="col-md-6">
              <p>Requested Bookings</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% @cleaner.get_requested_bookings.each do |booking|  %>
              <div class="booking-holder">
                <div class="pa-ver-20 pa-hor-10 box-content">

                  <div class=" t-right booking-locations" style="margin-top: -10px">
                    <div class="xs-hidden">
                      <span class="badge-job badge-recommended">
                        <i class="fa fa-check" aria-hidden="true"></i>Job Requested
                      </span>
                    </div>
                    <p class="in-line bg-servus-blue bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= booking.company.name %></p>
                    <p class="in-line bg-servus-orange bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= booking.location.name %></p>
                  </div>
                  
                  <div class="row flex-768">

                    <div class="col-sm-4">

                      <div class="t-center xs-show ">
                        <span class="badge-job badge-recommended">
                          <i class="fa fa-check" aria-hidden="true"></i>Job Requested
                        </span>
                      </div>


                      <div class="hor-align-center-768 pa-10 bo-ra-5 t-center width-50 bg-servus-green fo-servus-white vertical-align-center-768 relative-768 center ma-ver-10 f-size-150">
                        <p><%= booking.booking_date.to_date.strftime("%B, %a %d, %Y") %></p>
                        <p><%= booking.booking_date.strftime("%I:%M %p") %></p>  
                      </div>
                      <div>
                      </div>
                    </div>

                    <div class="col-sm-8">
                      <div class="booking-address-holder">
                        <div class="booking-address ">
                          <p>Customer Name: <%= booking.property.customer.full_name %></p>
                          <p>Address: <%= booking.property.full_address %></p>
                          <p>Area: <%= show_area(booking.property.postal_code) %></p>
                          <% if booking.customer_notes %>
                            <p>Customer Notes: <%= booking.customer_notes %> </p>
                          <% end %>
                        </div>

                        <div class="row flex-768 block">
                          <div class="col-sm-7">
                            <p><strong>Services</strong></p>
                            <% if base = base_service(booking.services) %>
                              <p>Base Service: <%= base.name %></p>
                            <% end %>
                            <p><%= params_service(booking.services) unless params_service(booking.services).blank? %></p>
                            <ul>
                              <% extra_services(booking.services).each do |service|%>
                                <li><%= service.name %></li>
                              <% end %>
                            </ul>  
                          </div>
                          <div class="col-sm-5 text-center">
                            <p class="booking-price f-size-150 vertical-align-center-768 hor-align-center-768 absolute-768"> Your Earnings : $<%= show_earnings_percetage(@cleaner, booking.final_amount) %></p>
                            <p>Booking total: $<%= booking.final_amount %></p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="t-center pa-ver-20 requested_booking">
                    <p class="ma-ver-20 f-size-150 bold">Time left to claim: <%= show_time_left_to_claim(booking.booking_date.localtime.to_time, @cleaner) %> </p>
                    <%= link_to 'Accept Request', accept_booking_cleaners_booking_path(booking), class: 'btn btn-success btn-lg ma-ver-10', :method=> :post  %>
                    <%= link_to "Decline Request", decline_booking_cleaners_booking_path(booking), class: 'btn btn-danger btn-lg ma-ver-10', :method=> :post %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Booking Information -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey pa-ver-20">
        <div class="row">
          <div class="col-md-6">
            <p>Your Bookings for <%= Time.current.utc.in_time_zone(@cleaner.timezone).strftime("%A %d, %B, %Y") %>   </p>
          </div>

          <div class="col-md-6 t-center t-right-768 ma-ver-0-768 ma-ver-30">
            <%= link_to "Email me these bookings", {:controller => "bookings", :action => "email_bookings", :bookings => @bookings, :date => 'today' }, class: 'bo-grey bo-ra-5 pa-ver-10 pa-hor-20 bg-servus-blue fo-servus-white fo-servus-white-hover t-no-decoration t-no-decoration-hover ' %> 
          </div>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% unless @bookings.empty? %>
            <%= render 'booking.html' %>
          <% else %>
            <div class="booking-holder">
              <div class="pa-ver-20 pa-hor-10 box-content">
                <p class="text-center">You don't have any booking plan for today.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> 

     <!-- Future Bookings Information -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey pa-ver-20">
        <div class="row">
          <div class="col-md-6">
            <p>Your bookings for <%= (Time.current.utc.in_time_zone(@cleaner.timezone) + 1.day).strftime("%A %d, %B, %Y") %></p>
          </div>
          <div class="col-md-6 t-center t-right-768 ma-ver-0-768 ma-ver-30">
            <%= link_to "Email me these bookings", {:controller => "bookings", :action => "email_bookings", :bookings => @future_bookings, :date => 'tomorrow' }, class: 'bo-grey bo-ra-5 pa-ver-10 pa-hor-20 bg-servus-blue fo-servus-white fo-servus-white-hover t-no-decoration t-no-decoration-hover' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'future_booking.html' %>
          <% if @cleaner.can_claim_booking? %>
            <div class="pa-ver-20 pa-hor-10 box-content text-center">
              <%= image_tag("looking_job.png", :alt => "Looking for Job", class: 'text-center width-100px') %>

              <% if @future_bookings.empty? %>
                <p class="ma-ver-10">You don't have any booking plan for Tomorrow.</p>
              <% else %>
                <p class="ma-ver-10">You can claim <%= @cleaner.bookings_left_to_claim %> more booking</p>
              <% end %>
              <div>
                <%= link_to "Claim a Booking", cleaners_bookings_path, class: 'btn btn-success' %>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>   
  </div>
</section>