#active_admin_content.without_sidebar
  #main_content_wrapper
    #main_content
      = semantic_form_for 'import_customer', url: import_process_admin_customers_path  do |f|
        = f.inputs :name => 'Import Customers' do
          %p{style: 'margin: 20px 10px'} Upload a CSV file with customer data to import customers to the system. If a customer with an existing e-mail address already exists, it will be ignored. Otherwise, the customer data must consist on 4 fields: first name, last name, role ("professor" or "student"), email. No other type of user can be invited by this mean, it will ignore that specific user entry.
          = f.input :file, as: :file
        = f.actions
      


