<section class="app-content">
  <div class="container">
    
    <!-- Booking Information -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey">
        <p>Calendar</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="calendar" style="margin: 2rem"></div>

          <!-- Modal Edit/Delete Event-->
          <div class="modal fade" id="BookingInfo" tabindex="-1" role="dialog" aria-labelledby="EditDeleteEventLabel">
            <div class="modal-dialog" role="document" id="calendar_dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="BookingInfoLabel">Booking</h4>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12" id="booking"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>