<section class="app-content">
  <div class="container">
    <!-- Booking Filter -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey">
        <p>Filter</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="booking-holder box-content">
            <div class="pa-ver-20 pa-hor-10">
              <%= link_to "6AM to 10AM", {:controller => :bookings, :action => :index, :from => 6, :to => 10 }, class:'btn btn-default' %>

              <%= link_to "11AM to 3PM", {:controller => :bookings, :action => :index, :from => 11, :to => 15 }, class:'btn btn-default' %>

              <%= link_to "4PM to Midnight", {:controller => :bookings, :action => :index, :from => 15, :to => 24 }, class:'btn btn-default' %>

              <%= link_to "Clear", {:controller => :bookings, :action => :index }, class:'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Booking Information -->
    <div class="cleaner-wrapper box-wrapper">
      <div class="cleaner-header bo-grey">
        <p>Available Bookings</p>
        <p class="bold">You can claim <%= @cleaner.bookings_left_to_claim_by_date(Time.current.utc.in_time_zone(@cleaner.timezone).beginning_of_day + 2.day, Time.current.utc.in_time_zone(@cleaner.timezone).beginning_of_day + 2.day ) %> more bookings for <%= (Time.current.utc.in_time_zone(@cleaner.timezone) + 2.day).strftime("%A %d, %B, %Y") %> </p>
        <p> Claim your bookings between <%= show_cut_of_time %> </p>
      </div>
      <div class="row">
        <div class="col-md-12" id="results">
          <% if @cleaner.can_claim_booking? %>
            <% if !@bookings.empty? && @cleaner.has_permission_to_view? && @cleaner.cut_of_time %>
              <% @bookings.each do |booking| %>
                <%= render 'booking', booking: booking %>
              <% end %>
              <div class="t-center">
                <%= paginate @bookings %>    
              </div>
            <% else %>
              <div class="booking-holder">
                <div class="pa-ver-20 pa-hor-10 box-content">
                  <p class="text-center">There are no bookings available to claim.</p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="booking-holder">
              <div class="pa-ver-20 pa-hor-10 box-content">
                <p class="text-center">You have reached the max amount of bookings that you can claim for tomorrow.</p>
                <p class="text-center">
                  <%= link_to 'Check your Bookings', cleaners_dashboard_path, class: "btn btn-success ma-ver-20"%>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>