<section class="app-content">
  <div class="container">   
    <!-- Booking Information -->
    <div class="cleaner-wrapper box-wrapper">

      <div class="row">
        <div class="col-md-12">
          <div class="booking-holder">
            <div class="pa-ver-20 pa-hor-10 box-content">
              <div >
                <div class="bo-grey bo-ra-5 pa-ver-20 pa-hor-20">
                  <p class="in-line bg-servus-blue bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= @booking.company.name %></p>
                  <p class="in-line bg-servus-orange bo-ra-5 pa-ver-5 pa-hor-10 fo-servus-white"><%= @booking.location.name %></p>
                  <h1 class="f-size-150 ma-ver-10 ">Booking Information</h1>
                  <p>Booking Date: <%= @booking.booking_date.to_date.strftime("%B, %a %d, %Y") %></p>
                  <p>Time:<%= @booking.booking_date.localtime.strftime("%I:%M %p") %></p>  
                  <p>Customer_notes</p>
                  <% if @booking.rating_value %>
                    <p>Rating Value: <%= @booking.rating_value %></p>
                  <% end %>
                  <p>Your Earnings : $<%= show_earnings_percetage(@cleaner, @booking.final_amount) %></p>
                  <% if @booking.tip %>
                    <p>Tip: <%= @booking.tip %></p>
                  <% end %>
                </div>

                <div class="bo-grey bo-ra-5 pa-ver-20 pa-hor-20">
                  <h1 class="f-size-150 ma-ver-10 ">Service Information</h1>
                  <p><strong>Services:</strong></p>
                  <p>Base Service: <%= base_service(@booking.services).name %></p>
                  <p><%= params_service(@booking.services) %></p>
                  <ul>
                    <% extra_services(@booking.services).each do |service|%>
                      <li><%= service.name %></li>
                    <% end %>
                  </ul>
                </div>
                <div class="bo-grey bo-ra-5 pa-ver-20 pa-hor-20">
                  <h1 class="f-size-150 ma-ver-10 ">Customer Information</h1>
                  <p>Customer: <%= @booking.property.customer.full_name %></p>
                  <p>Address: <%= @booking.property.full_address %></p>
                  <p>Area: <%= show_area(@booking.property.postal_code) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>