<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hi <%= @cleaner.full_name %></h1>
    <p>
      Here are your bookings for <%= Time.current.strftime("%m/%d/%Y") %>:
    </p>

    <h2>
      Bookings info: 
    </h2>

    <% @bookings.each do |booking| %>
    <p>-----------------------------</p>
      <p>Service Date: <%= booking.booking_date.strftime("%m/%d/%Y at %H:%M") %></p>
      <p>Company: <%= booking.company.name %></p>
      <p>Customer: <%= booking.property.customer.full_name %></p>
      <p>Address: <%= booking.property.full_address %></p>
      <p>Phone Number: <%= booking.property.customer.phone %></p>
      <p>Email: <%= booking.property.customer.email %></p>
      <p><strong>Services</strong></p>

      <% service = booking.services.select { |service| service.service_type == 'parameter' }.first %>
      <p>Base Service: <%= booking.services.select { |service| service.service_type == 'base' }.first.name %> /       <%= service.name if service %> </p>

      <ul> Extras:
        <% booking.services.select { |service| service.service_type == 'add_on' }.each do |service|%>
          <li><%= service.name %></li>
        <% end %>
      </ul>
      <p>Staff Notes: <%= booking.staff_notes %></p>
      <p>Customer Notes: <%= booking.customer_notes %></p>
     
      <p>Subtotal: <%= booking.sub_total.to_s %></p>
      <p>Tax: $<%= booking.sales_tax ? booking.sales_tax : '0.00'  %></p>
      <p>Tip: $<%= booking.tip ? booking.tip : '0.00'  %> </p>
      <p>Total: $<%= booking.final_amount.to_s %> </p>
    <p>-----------------------------</p>
    <% end %>

    <p>Best,</p>
    <p>Maid Sailors Team</p>
  </body>
</html>
