<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hi <%= @cleaner.full_name%></h1>
    <p>
      You got a new requested booking for <%= @booking.property.customer.full_name %>
    </p>

    <h2>
      Booking info: 
    </h2>
    <p>Service Date: <%= @booking.booking_date.strftime("%m/%d/%Y at %H:%M") %></p>
    <p>Company: <%= @booking.company.name %></p>
    <p>Customer: <%= @booking.property.customer.full_name %></p>
    <p>Email: <%= @booking.property.customer.email %></p>
    <p><strong>Services</strong></p>
    <% base_services = @booking.services.select { |service| service.service_type == 'base' } %>
    <p>Base Service: <%= base_services.first.name unless base_services.blank? %></p>

    <% service = @booking.services.select { |service| service.service_type == 'parameter' }.first %>
    <%= service.name if service  %>
    <ul> Extras:
      <% @booking.services.select { |service| service.service_type == 'add_on' }.each do |service|%>
        <li><%= service.name %></li>
      <% end %>
    </ul>
    <p>Staff Notes: <%= @booking.staff_notes %></p>
    <p>Customer Notes: <%= @booking.customer_notes %></p>
   
    <p>Subtotal: <%= @booking.sub_total.to_s %></p>
    <p>Tax: $<%= @booking.sales_tax ? @booking.sales_tax : '0.00'  %></p>
    <p>Tip: $<%= @booking.tip ? @booking.tip : '0.00'  %> </p>
    <p>Total: $<%= @booking.final_amount.to_s %> </p>

    <p>Please login into your dashboard to accept or decline this request. <a href="http://servuspros.com/cleaners/dashboard">Respond Now</a></p>

    <p>Best,</p>
    <p>Maid Sailors Team</p>
  </body>
</html>



     
