<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hi <%=@user.full_name%></h1>

    <p>A Booking for <%= @booking.property.customer.full_name %> has been cancelled with penalty.</p>

    <p>The Booking is available on the pool for another cleaner to pick it.</p>
  </body>
</html>
