<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hi <%= @manager.full_name%> </h1>

    <p>A Requested Booking for <%= @booking.property.customer.full_name %> has been declined by <%= @cleaner.full_name %>.</p>

    <p>The Booking is available on the pool for another cleaner to pick it.</p>

    <p>Here is the booking information:</p>
    <p>
      BOOKING-ID: <%= @booking.id %></br>
      Company: <%= @booking.company.name %><br>
      Name: <%= @booking.property.customer.full_name %> <br>
      Email*: <%= @booking.property.customer.email %> <br>
      Cell Number*: <%= @booking.property.customer.phone %> <br>
      Address*: <%= @booking.property.full_address %> <br>
      Date / Time: <%= @booking.booking_date %><br >
      Payment Method: <%= @booking.payment_method %><br >
      Type of Service: <%= @booking.services.select { |service| service.service_type == 'base' }.first.name %><br >
      Service price: $<%= @booking.final_amount %>
    </p>
  </body>
</html>
