<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hi <%= @manager.full_name %> </h1>
    <p>A Requested Booking for <%= @booking.property.customer.full_name %> was not accepted on time.</p>

    <p>The Booking is available on the pool for another cleaner to pick it.</p>

    <p>Here is the booking information:</p>
    <p>
      BOOKING-ID: <%= @booking.id %></br>
      Company: <%= @booking.company.name %><br>
      Name: <%= @booking.property.customer.full_name %> <br>
      Email*: <%= @booking.property.customer.email %> <br>
      Cell Number*: <%= @booking.property.customer.phone %> <br>
      Address*: <%= @booking.property.full_address %> <br>
      Date / Time: <%= @booking.booking_date %><br >
      Payment Method: <%= @booking.payment_method %><br >
    
      <p><strong>Services</strong></p>

      <% service = @booking.services.select { |service| service.service_type == 'parameter' }.first %>
      <p>Base Service: <%= @booking.services.select { |service| service.service_type == 'base' }.first.name %> <%= service.name if service %> </p>

      <ul> Extras:
        <% @booking.services.select { |service| service.service_type == 'add_on' }.each do |service|%>
          <li><%= service.name %></li>
        <% end %>
      </ul>
      <p>Staff Notes: <%= @booking.staff_notes %></p>
      <p>Customer Notes: <%= @booking.customer_notes %></p>
     
      <p>Subtotal: <%= @booking.sub_total.to_s %></p>
      <p>Tax: $<%= @booking.sales_tax ? @booking.sales_tax : '0.00'  %></p>
      <p>Tip: $<%= @booking.tip ? @booking.tip : '0.00'  %> </p>
      <p>Total: $<%= @booking.final_amount.to_s %> </p>

      <p>Check up this booking <a href="http://servuspros.com/admin/bookings/#{@booking.id}">in the admin dashboard</a></p>
    </p>
  </body>
</html>
