<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>Customers Imported: <strong><%= @created %></strong></p>
    <% unless @errors.blank? %>
      <p>Errors : <strong><%= @errors.count %></strong></p>
      <p>
        <ul>
          <% @errors.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      </p>
    <% end %>
    <p>
      Import Process completed.
    </p>

  </body>
</html>
