Hi <%= @user.first_name %>
Customers Imported: <%= @created %>
<% unless @errors.blank? %>
  Errors : <%= @errors.count %>
  <% @errors.each do |e| %>
    <%= e %>
  <% end %>
<% end %>
Import Process completed.
