<!-- Body -->
<section class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to "Login", "#",class: flash[:error] ? nil  : 'active', id: "login-form-link" %>
              </div>
              <div class="col-xs-6">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Become a cleaner", "#", id: "register-form-link",class: flash[:error] ? 'active'  : nil %>
                <% end -%>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { id: "login-form", style: "display:#{flash[:error] ? 'none'  : 'block'};", role: "form", class: nil } ) do |f| %>
                  <% unless flash[:notice].blank? %>
                    <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <ul>
                        <li>
                          <%= flash[:notice] %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-inputs">
                    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email Address" %>
                    <%= f.input :password, required: false, label: false, placeholder: "Password" %>
                  </div>
                  <div class="form-group text-center">
                    <%= f.input :remember_me, as: :boolean, id: "remember" if devise_mapping.rememberable? %>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <%= f.button :submit, "Log In", tabindex: 4, class: "form-control btn btn-login" %>
                      </div>
                    </div>
                  </div>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="text-center">
                            <%= link_to "Forgot password?", new_password_path(resource_name), tabindex: "5", class: "forgot-password" %><br />
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end -%>
                <% end %>
                <%= simple_form_for @cleaner, :url => register_cleaner_path, :html => { id: "register-form", style: "display:#{flash[:error] ? 'block'  : 'none'};", role: "form", class: nil } do |f| %>
                  <% unless flash[:error].blank? %>
                    <div class="alert alert-danger %>  " role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <ul>
                      <% if flash[:error] %>
                          <% flash[:error].each do |item| %>
                            <li>
                              <%= item[0].humanize %>: <% item[1].each do |m| %>
                                <%= m %>
                              <% end %>
                            </li>
                          <% end %>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-inputs">
                    <%= f.input :first_name, label: false,required: true, autofocus: true, tabindex: "1", class: "form-control", placeholder: "First name" %>
                    <%= f.input :last_name, label: false,required: true, autofocus: true, tabindex: "2", class: "form-control", placeholder: "Last name" %>
                    <%= f.input :email, label: false, required: true, autofocus: true, tabindex: "3", class: "form-control", placeholder: "Email Address" %>
                    <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), tabindex: "2", class: "form-control", placeholder: "Password" %>
                    <%= f.input :password_confirmation, label: false, required: true, tabindex: "4", class: "form-control", placeholder: "Confirm Password" %>
                    <%= f.input :phone_number, label: false, required: true, tabindex: "5", class: "form-control", placeholder: "Phone number" %>
                    <%= f.input :address, label: false, required: true, tabindex: "6", class: "form-control", placeholder: "Address" %>
                    <%= f.input :postal_code, label: false, required: true, tabindex: "7", class: "form-control", placeholder: "Postal code" %>
                    <%= f.input :state, label: false, required: true, tabindex: "8", class: "form-control", placeholder: "State" %>
                    <%= f.input :city, label: false, required: true, tabindex: "9", class: "form-control", placeholder: "City" %>
                    <%= f.label :timezone %>
                    <br>
                    <%= f.select :timezone, Cleaner.timezones.keys, {include_blank: 'Select a Timezone'}, label: false, required: true, tabindex: "10", class: "form-control" %>
                    <br>
                    <%= f.input :role, :input_html => { :value => :cleaner }, as: :hidden %>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <%= f.submit "Register Now", name: "register-submit", tabindex: "4", class: "form-control btn btn-register" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>