.booking-holder{
  position: relative;
}

.booking-address {
  margin-bottom: 20px;
}

.booking-price {
  color: rgb(122, 213, 111);
}

.booking-address-holder{
  width: 80%;
  margin: 0 auto;
}

.booking-locations{
  right: 25px;
}

.booking-btn-holder {
  text-align: center;
}

.booking-locations {
  font-size: 50%;
}

/**************************************************************/

/*
.requested_booking {
  background-color: #a1e5fa !important;
}

*/

.badge-recommended {
  background-color: #14bff4;
  padding: 4px 25px;
  color: #fff;
  position: relative;
  font-weight: 700;
  font-size: 90%;
  line-height: 12px;
  text-transform: uppercase
}



.badge-recommended:after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}

.badge-job {
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.badge-job i {
  font-size: 12px;
  border-right: 1px solid #fff;
  padding: 4px;
  position: absolute;
  /* font-size: 16px; */
  line-height: 12px;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  margin: 0
}


/******************************** MEDIA QUERIES *************************************/

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
/* Styles */
}

@media only screen and (min-width : 500px) {
  .booking-address-holder{
    width: 50%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 768px) {
  .booking-address-holder{
    width: 100%;
    margin: 0;
  }

  .booking-btn-holder {
    text-align: right;
  }

  .booking-locations {
    font-size: 100%;
  }

  .badge-recommended {
    font-size: 100%;
    padding: 4px 30px;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}



