c/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require normalize
 *= require_self
 */

// @import "normalize";
// @import "bootstrap-sprockets";
// @import "bootstrap";

/* Content */
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #f1f2f7 !important;
}

p, h1, h2, h3 ,h4 ,h5 ,h6 {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Montserrat', sans-serif;
}

/* Display */

.in-line {
  display: inline-block;
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.xs-hidden {
  display: inline-block !important;
}

.xs-show{
  display: none !important;
}

.vertical-align-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hor-align-center {
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.center {
  margin: 0 auto;
}

/* Positions */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right{
  float: right;
}


/* Paddings */

.pa-hor-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.pa-ver-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.pa-10 {
  padding: 10px !important;
}

.pa-hor-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.pa-ver-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pa-hor-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pa-ver-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}


/* Margins */
.ma-hor-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.ma-ver-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.ma-hor-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.ma-ver-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ma-hor-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.ma-ver-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ma-ver-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}



/* Colors */
.bg-servus-green {
  background-color: #28a745;
}

.bg-servus-blue {
  background-color: rgb(73, 154, 210);
}

.bg-servus-orange {
  background-color: #fb8532;  
}


.fo-servus-white {
  color: #fff;
}

.fo-servus-white-hover:hover{
  color: #fff;
}


/* Widths */

.width-50 {
  width: 50%; 
}


.width-100px {
  width: 100px; 
}

/* Text */
.t-center{
  text-align: center;
} 

.t-right{
  text-align: right;
}

.t-no-decoration {
  text-decoration: none !important;
}

.t-no-decoration-hover:hover {
  text-decoration: none !important;
}

/* TEXT SIZE */

.f-size-100 {
  font-size: 100%;
}

.f-size-150 {
  font-size: 150%;
}

/* BORDERS */

.bo-none {
  border: none !important;
}

.bo-ra-5 {
  border-radius: 5px;
}

.bo-grey {
  border: 1px solid rgba(27, 31, 35, 0.15)  
}

/**** STYLES ***/

.bold {
  font-weight: bold;
}


/* CUSTOM CSS  */

.box-wrapper {
  background-color: #fff;
}

.box-content {
  color: #586069;
  background: #fff;
  border: 1px solid #d1d5da;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}

.box-header {
  color: white;
  background-color: #45b6ab;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: center;
}


.row-fix{
  margin: 0px !important;
}

.col-fix {
  padding: 0 !important;
}


/* Header */
.app-header nav {
  background-color: #303641;
  border-color: #303641;
  border-radius: 0px;
  color: #fff;
}

.app-header .nav-link {
  color: #fff !important;
}

.app-header .nav-link:hover {
  background-color: #303641;
}

.app-header .inside {
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}

.app-header .nav-link i {
  font-size: 20px;
  margin-right: 5px;
}

.app-header .navbar-brand h1 {
  font-size: 30px;
  margin: 0px !important;
  color: #fff;
  margin-top: -5px !important;
}


a.nav-link.dropdown-toggle {
  background-color: #303641 !important;
}

.navbar-nav li .dropdown-menu{
  background-color: #303641 !important;
  margin: 0px;
  padding: 0px
}

/* Cleaner Information */

.cleaner-wrapper {
  margin-bottom: 20px;
}

.cleaner-header {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #f6f8fa;
  border-radius: 3px 3px 0 0
}

.cleaner-info {
  padding: 10px 20px;
}

.cleaner-info p {
  letter-spacing: 1px;
}

/* Booking Information */

.booking-today {
  border-right: 1px solid #ddd
}

.booking-header{
  border-color: #0b5995;
  color: white;
  background-color: #0b5995;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: left;
}

.booking-cont-header{
  /*border-color: #45b6ab;*/
  color: white;
  background-color: #019f5b;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: center;
}


.booking-cont-today {
  border-right: 1px solid #ddd;
}


/* MEDIA QUERIES */

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 768px) {

  .xs-hidden {
    display: none !important;
  }

  .xs-show {
    display: block !important;
  }

  .right-768{
    float: right;
  }

  .flex-768{
    display: flex;
  }

  .absolute-768 {
    position: absolute;
  }

  .relative-768 {
    position: relative;
  }

  .vertical-align-center-768 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .hor-align-center-768 {
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
  }

  .ma-ver-0-768 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .ma-ver-20-768 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }


  .ma-ver-30-768 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  /* Text */

  .t-right-768 {
    text-align: right;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}
