#active_admin_content.without_sidebar
  #main_content_wrapper
    #main_content
      = semantic_form_for 'import_cleaner', url: import_process_admin_cleaners_path  do |f|
        = f.inputs :name => 'Import Customers' do
          %p{style: 'margin: 20px 10px'} Upload a CSV file with cleaner data to import cleaners to the system. Before importing please select to which company the cleaners belong.
          =f.input :companies, :label => 'Companies', :as => :check_boxes, :collection => Company.all.map{|c| ["#{c.name}", c.id]}
          = f.input :file, as: :file
        = f.actions
      


