<section class="app-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <h1>Servus</h1>
        </a>
      </div>
      <% if user_signed_in? %>
            
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li class="ma-ver-5">
            <%= link_to root_path, class: 'nav-link inside bo-none' do %>
              <i class="fa fa-book" aria-hidden="true"></i>My Bookings 
            <% end %>
          </li>

          <li class="ma-ver-5">
            <%= link_to cleaners_bookings_path, class: 'nav-link inside bo-none' do %>
              <i class="fa fa-address-book-o" aria-hidden="true"></i>Claim Bookings 
            <% end %>
          </li>

          <li class="ma-ver-5" >
            <%= link_to previous_cleaners_bookings_path, class: 'nav-link inside bo-none' do %>
              <i class="fa fa-calendar-check-o"></i>Previous Bookings
            <% end %>
          </li>

          <li class="ma-ver-5" >
            <%= link_to cleaners_calendar_path, class: 'nav-link inside bo-none' do %>
              <i class="fa fa-calendar"></i>Calendar
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to('Edit Profile', edit_cleaner_path(current_user), class: "nav-link inside") %> 
              </li>
              <% if session["admin_session_id"].nil? %>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => 'delete', class: "nav-link inside") %> 
                </li>
              <% end %>
              <% unless session["admin_session_id"].nil? %>
                <li>
                  <%= link_to 'Go back to Admin', back_to_admin_cleaners_path, class: "nav-link inside" %>
                </li>
                <li>
                  <%= link_to('Logout', destroy_admin_session_cleaners_path, class: "nav-link inside") %> 
                </li>
              <% end %>
            </ul>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
      <% end %>
    </div>
  </nav>
</section>